@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-light: rgb(229, 231, 235);
  --text-dark: rgb(71, 85, 105);
  --border-dark: rgb(71, 85, 105);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-light: rgb(229, 231, 235);
    --text-dark: rgb(71, 85, 105);
    --border-dark: rgb(71, 85, 105);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

/* Add this to ensure proper gradient rendering */
.bg-gradient-to-br {
  background-size: 200% 200%;
}
